__pycache__/
data/data/
data/coco_val2017/
data/images_gun/
data/output_videos/
data/output_videos_uniform/
data/results_backup/
data/results_coco/
data/results_gun/
data/results-backup/
data/samples/
data/snapshots/
data/test_images/